{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block content %}
<!-- Contact Us Section -->
        <section class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="section-title">
                            <h2>Contact Us</h2>
                            
                        </div>
                    </div>
                </div>
				<div class="row">
                	<div class="col-sm-6">
                    	<div class="col d-flex align-items-stretch">
							<div class="form-contact info-wrap bg-primary w-100 p-lg-5 p-4">
								<h3 class="mb-4 mt-md-4">Contact us</h3>
				        		<div class="dbox w-100 d-flex align-items-start">
				        			<div class="icon d-flex align-items-center justify-content-center">
				        				<span class="fa fa-map-marker"></span>
				        			</div>
				        			<div class="text pl-3">
					            		<p><span>Address:</span> 30 Trần Phú, P. Mộ Lao <br> Hà Đông, Hà Nội</p>
					          		</div>
				          		</div>
				        		<div class="dbox w-100 d-flex align-items-center">
				        			<div class="icon d-flex align-items-center justify-content-center">
				        				<span class="fa fa-phone"></span>
				        			</div>
				        			<div class="text pl-3">
					            		<p><span>Phone:</span> <a href="tel://1234567920">+8412345789</a></p>
					          		</div>
				          		</div>
				        		<div class="dbox w-100 d-flex align-items-center">
				        			<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-paper-plane"></span>
									</div>
									<div class="text pl-3">
										<p><span>Email:</span> <a href="mailto:team1btlpython@gmail.com">team1btlpython@gmail.com</a></p>
									</div>
				          		</div>
								<div class="dbox w-100 d-flex align-items-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-globe"></span>
									</div>
									<div class="text pl-3">
										<p><span>Website</span> <a href="#">yoursite.com</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
                	<div class="col-sm-6">
                        <div class="map">
                            <iframe src="https://bitly.com.vn/heoqly" width="100%" height="453" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                	</div>
				</div>
            </div>
        </section>
        <!-- End Contact Us Section -->

{% endblock content %}